body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 12px #0000001D;
    padding: 0;
}
.navbar ul.nav{
    display: block;
    text-align: center;
    flex-direction: inherit;
    width: 100%;
}
.navbar ul.nav li{
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: 0;
    position: relative;
    height: 60px;
    margin: 0 15px;
}
.navbar ul.nav li a{
    color: #394E5D;
}
.navbar ul.nav li a.active:after{
    width: 8px;
    height: 5px;
    border-radius: 10px 10px 0 0;
    bottom: 0px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    background:#4285BC;
    position: absolute;
    content: "";
}
.navbar ul.nav li img {
    max-width: 30px;
    max-height: 100%;
}
.footer{
    background: #4296CB;
    height: 60px;
    font-weight: Bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #FFFFFF;
    padding-top: 16px;
}
.footer p{
    margin: 0;
}
.footer img {
    max-width: 35px;
    max-height: 100%;
    margin-right: 30px;
}

.paragraph {
    text-align: left;
    font: Regular 22px/27px Montserrat;
    letter-spacing: 0;  
    color: #394E5D;
    opacity: 1;
}

.header {
    text-align: left;
    font: SemiBold 46px/57px Montserrat;
    letter-spacing: 0;
    color: #394E5D; 
    opacity: 1;
}

.secondHeader {
    text-align: center;
    font: Bold 32px/39px Montserrat; 
    letter-spacing: 0;
    color: #394E5D;
    opacity: 1;
}

.button {
    padding: 7px 30px 6px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #3D86BF;
    border-radius: 32px; 
    opacity: 1;
    text-align: left;
    font: SemiBold 14px/27px Montserrat;
    letter-spacing: 0;
    color: #4285BC;
    opacity: 1;
}

.image {
    padding-top: 78px;
}

.cardText {
    text-align: left;
    font: Regular 16px/19px Montserrat;
    letter-spacing: 0;
    color: #182333;
    opacity: 1;
}
.buttonDiv {
    padding-top: 80px;
    text-align: center;
}

.navbarLogo {
    position: relative;
    right: 40%;
}

.navbar-light .navbar-toggler {
    margin-left: 15px;
}

.top_start_new_section  {
    padding-top: 180px;
}
.top_start_new_section h1.head{
    margin-top: 130px;
    text-align: left;
    font-weight: 600;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0;
    color: #394E5D;
}
.top_start_new_section p{
    text-align: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0;
    color: #394E5D;
    max-width: 80%;
}
.top_start_new_section img{
    max-width: 384px;
    max-height: 100%;
}
.subDivision {
    padding-top: 73px;
}
.new_product_new_story_sectn{
    margin: 150px 0;
}
.new_product_new_story_sectn .secondHeader{
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0;
    color: #394E5D;
}
.new_product_new_story_sectn img{
    max-width: 236px;
    width: auto;
    max-height: 100%;
}
.new_product_new_story_sectn h4{
    text-align: left;
    font-weight: Bold;
    font-size: 20px;
    line-height: 24px;
    color: #394E5D;
}
.new_product_new_story_sectn p.paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0;
    color: #182333;
    margin-top: 20px;
}
.new_product_new_story_sectn .col:first-child{
    text-align: center;
}
.blog_sectn{
    margin-top: 150px;
}
.blog_sectn .card-title{
    text-align: left;
    font-weight: 600; 
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0;
    color: #394E5D;
}
.blog_sectn .card-text {
    text-align: left;
    font-weight: 400; 
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
    color: #182333;
}


@media screen and (max-width: 767px){
    .col{
        flex-grow: inherit;
        flex-basis: auto;
    }
    .card-img{
        width: 100% !important;
    }
    .navbarLogo{
        right: auto;
        left: 24%;
    }
    .top_start_new_section{
        padding-top: 0;
    }
    .top_start_new_section h1.head {
        margin-top: 50px;
    }
    .new_product_new_story_sectn {
        margin: 60px 0;
    }
    .blog_sectn {
        margin-top: 60px;
    }
    .footer{
        margin-top: 50px !important;
    }
    nav.navbar{
        padding: 8px 0;
        display: block;
    }
    .navbar-light .navbar-toggler{
        border: none;
        float: left;
    }
    .navbar-nav {
        height: 88vh;
        overflow: auto;
        padding: 150px 40px;
    }
    .navbar-nav .nav-item {
        font-size: 21px;
        font-weight: 800;
        position: relative;
        padding-left: 20px;
    }
    .navbar-nav .nav-item a.nav-link{
        color: #000;
    }
    .navbar-nav a.active:after{
        width: 8px;
        height: 8px;
        border-radius: 10px;
        left: 0px;
        top: 40%;
        display: block;
        background: #4285BC;
        position: absolute;
        content: "";
    }
}